<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.m2e.core.lifecycleMappingMetadataSource" />
	<extension
			point="org.eclipse.m2e.core.projectConfigurators">
		<configurator
				class="nl.topicus.m2e.settings.internal.ProjectSettingsConfigurator"
				id="nl.topicus.m2e.settings.configurator"
				name="JDT Settings"
				secondaryTo="org.eclipse.m2e.jdt.javaConfigurator">
		</configurator>
	</extension>
</plugin>
